---
import Tag from "./Tag.astro";
import Text from "./Text.astro";
export interface Props {
	title: string;
	titleTag?: "h1" | "h2" | "h3" | "h4" | "h5" | "h6" | "p" | "span" | "a";
	titleSize?: "xs" | "sm" | "md" | "lg" | "xl" | "2xl" | "3xl" | "4xl";
	subtitle?: string;
	summary?: string;
	tags?: string[];
}
const {
	title,
	titleTag = "h2",
	titleSize = "xl",
	summary,
	subtitle,
	tags = [],
} = Astro.props as Props;
---

<figure class="card">
	<Text tag={titleTag} size={titleSize} weight="semibold" class="card-title">
		{title}
	</Text>
	<Text tag="p" size="xs" class="card-subtitle">{subtitle}</Text>
	<div class="card-tags">
		{tags.length > 0 && tags.map((tag) => <Tag>{tag}</Tag>)}
	</div>
	{summary && <Text tag="p" size="sm" class="card-summary">{summary}</Text>}
	<slot />
	<div class="card-bg"></div>
</figure>
