---
export interface Props {
  title: string;
  description?: string;
  keywords?: string[];
  author?: string;
  imageUrl?: string;
}

const url = Astro.url;
const host = url.host;
const protocol = url.protocol;

const {
  title = "AA.DEV | Welcome To My Digital Self",
  description,
  keywords,
  author,
  imageUrl,
} = Astro.props as Props;

const updateVers = 5;

const imageFullUrl =
  protocol + "//" + host + "/images" + imageUrl + "?updated=" + updateVers;
---

<meta charset="UTF-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="language" content="en" />
<meta name="referrer" content="no-referrer" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="sitemap" href="/sitemap-index.xml" />

{description && <meta name="description" content={description} />}
{keywords && <meta name="keywords" content={keywords.toString()} />}
{author && <meta name="author" content={author} />}
{url && <link rel="canonical" href={url} />}
{title && <meta property="og:title" content={title} />}
{description && <meta property="og:description" content={description} />}
{imageUrl && <meta property="og:image" content={imageFullUrl} />}
{url && <meta property="og:url" content={url + "?updated=" + updateVers} />}
<meta name="twitter:card" content="summary" />
{title && <meta name="twitter:title" content={title} />}
{description && <meta name="twitter:description" content={description} />}
{imageUrl && <meta name="twitter:image" content={imageFullUrl} />}
<title>AA.DEV | {title}</title>
