---
import Header from "@/components/header";
import Footer from "@/components/footer";
import BaseHead from "@/components/base-head";

const {
  frontmatter: { title, description, pubDate, image, author },
} = Astro.props;
const generator = Astro.generator
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} generator={generator} />
  </head>
  <body class="flex flex-col items-start min-h-screen">
    <Header />
    <main>
      <article>
        <div class="article-head">
          <h1 class="title">{title}</h1>
          <em>Written by: {author}</em>
        </div>
        <div class="article-body">
          {image && <img width={720} height={360} src={image} alt="" />}
           Published on: {pubDate && <time>{pubDate}</time>}
          <hr />
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
